/* General Styles */
.secret-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #e0e0e0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color 0.3s ease-in-out;
    padding-top: 80px;
}

.flash {
    animation: flash 1.5s ease-out;
}

@keyframes flash {
    0% { background-color: #ff0000; }
    50% { background-color: #0a0a0a; }
    100% { background-color: #0a0a0a; }
}

/* Ominous Title Styles */
.ominous-title {
    font-size: 3rem;
    text-align: center;
    color: #ff0000;
    margin-bottom: 50px;
    text-shadow: 0px 0px 10px #ff0000, 0px 0px 20px #ff0000;
    animation: realistic-flicker 15.5s infinite; /* Change 3.5s to slower flicker */
}

/* Password Box */
.password-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #151515;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ff0000;
    width: 70%;
    max-width: 600px;
    position: relative;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(-5px); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.ominous-instructions {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e0e0e0;
}

/* Input Field */
.password-input {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    font-size: 1rem;
    background-color: #0a0a0a;
    color: #e0e0e0;
    border: 2px solid #ff0000;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    text-align: center;
}

.password-input::placeholder {
    color: #888;
}

/* Button */
.reveal-button {
    background-color: #ff0000;
    color: #e0e0e0;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5); 
    margin-top: 10px; 
}

.reveal-button:hover {
    background-color: #e60000;
    transform: translateY(-3px); 
}

/* Error Message */
.error-message {
    color: #ff0000;
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Secret Message */
.secret-message {
    text-align: center;
    background-color: #151515;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ff0000;
}

.secret-title {
    font-size: 2rem;
    color: #ff0000;
    margin-bottom: 15px;
    text-shadow: 0px 0px 10px #ff0000, 0px 0px 20px #ff0000;
}

.secret-content {
    font-size: 1.2rem;
    color: #e0e0e0;
}

/* Hints Container */
.hints-container {
    background-color: #151515;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%; 
    max-width: 400px; 
    text-align: center;
    box-shadow: 0px 0px 20px #ff0000;
    border-radius: 10px;
    animation: realistic-flicker 15.5s infinite; /* Change 3.5s to slower flicker */
}

.hints-container h2 {
    font-size: 1.8rem;
    color: #ff0000; 
    margin-bottom: 15px; 
}

.hints-container p {
    font-size: 1.2rem;
    color: #e0e0e0; 
    margin-bottom: 10px; 
    
}

.hints-container p:last-child {
    margin-bottom: 0; 
}

/* Puzzle Links */
.puzzle-link {
    display: inline-block;
    width: 100%; 
    max-width: 350px; 
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none; 
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 15px 20px; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5); 
}

.puzzle-link:hover {
    background-color: #e60000; 
    transform: translateY(-3px); 
}

.puzzle-link:active {
    background-color: #c50000; 
    transform: translateY(1px); 
}

.warning-message p{
    font-size: 0.7rem;
}

/* Flickering Title */
@keyframes realistic-flicker {
    0% { color: #751e1e; text-shadow: 0px 0px 30px #751e1e, 0px 0px 60px #751e1e; }
    8% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 40px #822626; }
    20% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    35% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Light "turns off" */
    40% { color: #b33333; text-shadow: 0px 0px 50px #b33333, 0px 0px 70px #b33333; } /* Flash */
    50% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 40px #822626; }
    60% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Quick off flicker */
    70% { color: #751e1e; text-shadow: 0px 0px 50px #751e1e, 0px 0px 100px #751e1e; } /* Bright flash */
    85% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    100% { color: #620606; text-shadow: 0px 0px 40px #620606, 0px 0px 80px #620606; }
}