/* General Styles */

@font-face {
    font-family: 'Pixel Times';
    src: url('../assets/Pixel Times.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixel Times Bold';
    src: url('../assets/Pixel Times Bold.ttf') format('truetype');
} 

@font-face {
    font-family: 'gixel';
    src: url('../assets/Gixel.ttf') format('truetype');
}

@font-face {
    font-family: 'ps2p';
    src: url('../assets/PressStart2P.ttf') format('truetype');
}

.secret-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'ps2p';
    transition: background-color 0.3s ease-in-out;
    padding-top: 80px;
    padding-bottom: 80px;
}

.flash {
    animation: flash 1s ease-out;
}

@keyframes flash {
    0% {
        background-color: #ff4c4c;
      }
      50% {
        background-color: #a80000;
      }
      100% {
        background-color: transparent;
      }
}

/* Ominous Title Styles */
.ominous-title {
    font-size: 2.4rem;
    text-align: center;
    color: #b33333;
    text-shadow: 0px 0px 10px #b33333, 0px 0px 20px #b33333;
    animation: realistic-flicker 20s infinite; /* Change 3.5s to slower flicker */
    font-family: "ps2p";
}

/* Password Box */
.password-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #151515;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px b33333;
    width: 70%;
    max-width: 600px;
    box-shadow: 0 0 15px 2px #550000; /* Red glowing shadow */
    animation: realistic-flicker 20s infinite;
    font-family: 'pixel times';
}


.shake {
    animation: shake  0.5s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(-5px); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.ominous-instructions {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #e0e0e0;
}

/* Input Field */
.password-input {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    font-size: 1rem;
    background-color: #0a0a0a;
    color: #e0e0e0;
    border: 2px solid #b33333;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Pixel Times';
}

.password-input::placeholder {
    color: #888;
}

/* Button */
.reveal-button {
    background-color: #b33333;
    color: #e0e0e0;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5); 
    margin-top: 10px; 
    font-family: 'Pixel Times';
}

.reveal-button:hover {
    background-color: #e60000;
    transform: translateY(-3px); 
}

/* Error Message */
.error-message {
    color: #151515;
    margin-top: 20px;
    font-size: 0.9rem;
}

.flash-error {
    animation: flash-error 3s ease-out;
}


@keyframes flash-error {
    0% { color: #751e1e; text-shadow: 0px 0px 30px #751e1e, 0px 0px 60px #751e1e; }
    8% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 40px #822626; }
    20% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    35% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Light "turns off" */
    40% { color: #b33333; text-shadow: 0px 0px 50px #b33333, 0px 0px 70px #b33333; } /* Flash */
    50% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 40px #822626; }
    60% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Quick off flicker */
    70% { color: #751e1e; text-shadow: 0px 0px 50px #751e1e, 0px 0px 100px #751e1e; } /* Bright flash */
    85% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    100% { color: #620606; text-shadow: 0px 0px 40px #620606, 0px 0px 80px #620606; }
}

/* Secret Message */
.secret-message {
    text-align: center;
    background-color: #151515;
    padding: 20px; /* Reduced padding for smaller screens */
    border-radius: 10px;
    box-shadow: 0px 0px 20px #b33333;
    max-width: 600px; /* Limit the maximum width */
    width: 90%; /* Responsive width */
    margin: 0 auto; /* Center align */
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
    .secret-message {
        padding: 15px; /* Further reduce padding for smaller devices */
        font-size: 1rem; /* Adjust font size */
    }

    .secret-title {
        font-size: 1.5rem; /* Adjust title size for better fit */
    }

    .secret-content {
        font-size: 0.9rem; /* Smaller text for compact view */
    }
}

.prize-link {
    color: #ffffff; /* White color */
    font-weight: bold;
    font-size: 1.2rem;
    transition: opacity 0.3s ease, transform 0.2s ease; /* Smooth hover and zoom effect */
}

.prize-link:hover {
    opacity: 0.8; /* Slight fade effect on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.prize-link:active {
    opacity: 1; /* Reset opacity */
    transform: scale(1); /* Reset zoom */
}


.secret-title {
    font-size: 2rem;
    color: #b33333;
    margin-bottom: 15px;
    text-shadow: 0px 0px 10px #b33333, 0px 0px 20px #b33333;
}

.secret-content {
    font-size: 1.2rem;
    color: #e0e0e0;
}

/* pieces Container */
.pieces-container {
    background-color: #151515;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%; 
    max-width: 400px; 
    text-align: center;
    box-shadow: 0px 0px 20px #b33333;
    border-radius: 10px;
    animation: realistic-flicker 15.5s infinite; /* Change 3.5s to slower flicker */
    box-shadow: 0 0 15px 2px #550000; /* Red glowing shadow */
    animation: flicker 10.5s infinite ease-in-out;
    font-family: 'gixel';
}

.pieces-container h2 {
    font-size: 2.5rem;
    color: #b33333; 
    margin-bottom: 15px; 
}

.pieces-container p {
    font-size: 1.5rem;
    color: #e0e0e0; 
    margin-bottom: 10px; 
    
}

.pieces-container p:last-child {
    margin-bottom: 0; 
}

/* Puzzle Links */
.puzzle-link {
    display: inline-block;
    width: 100%; 
    max-width: 350px; 
    text-align: center;
    background-color: #b33333;
    color: #fff;
    text-decoration: none; 
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 15px 20px; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5); 
    font-family: 'Pixel Times';
}

.puzzle-link:hover {
    background-color: #e60000; 
    transform: translateY(-3px); 
} 

.puzzle-link:active {
    background-color: #c50000; 
    transform: translateY(1px); 
}

.warning-message p{
    font-size: 1rem;
    font-weight: bold;
    color: #b33333
}

/* Flickering Title */
@keyframes realistic-flicker {
    0% { color: #751e1e; text-shadow: 0px 0px 30px #751e1e, 0px 0px 50px #751e1e; }
    8% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 30px #822626; }
    20% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    35% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Light "turns off" */
    40% { color: #b33333; text-shadow: 0px 0px 50px #b33333, 0px 0px 70px #b33333; } /* Flash */
    50% { color: #822626; text-shadow: 0px 0px 20px #822626, 0px 0px 40px #822626; }
    60% { color: #442121; text-shadow: 0px 0px 2px #442121, 0px 0px 2px #442121; } /* Quick off flicker */
    70% { color: #751e1e; text-shadow: 0px 0px 50px #751e1e, 0px 0px 70px #751e1e; } /* Bright flash */
    85% { color: #8b0000; text-shadow: 0px 0px 10px #8b0000, 0px 0px 20px #8b0000; }
    100% { color: #620606; text-shadow: 0px 0px 40px #620606, 0px 0px 80px #620606; }
}
.countdown-timer {
    height: 40px; /* Fixed height to prevent layout shift */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Hidden by default */
    visibility: hidden; 
    transition: opacity 1.5s ease-in-out, visibility 0s linear 1.5s; /* Delays visibility toggle */
    text-align: center;
    font-size: 1.5rem;
    font-family: "Pixel Times Bold";
    color: #b33333;
    text-shadow: 0px 0px 10px #b33333, 0px 0px 20px #b33333;
    padding-top: 30px;
    padding-bottom: 50px;
    animation: realistic-flicker 20s infinite;
}

.countdown-timer.visible {
    opacity: 1 !important;
    visibility: visible;
}

.countdown-timer.hidden {
    opacity: 0 !important;
    visibility: hidden;
}